@font-face {
  font-family: 'nes-icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('nes-icons.eot');
  src:
    url('nes-icons.eot?#iefix') format('embedded-opentype'),
    url('nes-icons.woff2') format('woff2'),
    url('nes-icons.woff') format('woff'),
    url('nes-icons.ttf') format('truetype'),
    url('nes-icons.svg#nes-icons') format('svg');
}
